.az_h {
	box-sizing: border-box;
	line-height: 1.5;
	z-index: 100;
}

.az_h *, 
.az_h *::before, 
.az_h *::after {
	box-sizing: inherit;
}

.az_h .row {
	overflow: visible;
}

.az_h .row::before, .az_h .row::after {
	content: " ";
	display: table;
}

.az_h .row::after {
	clear: both;
}

.az_h .azure-header_holder {
	background-color: #1a1a1a;
}

@media only screen and (max-width: 1632px) {
    .az_h .azure-header_holder {
        padding: 0 16px;
    }
}

.az_h .azure-header {
	margin: 0 auto;
	position: relative;
	max-width: 1600px;
	width: auto;
}

.az_h .icon svg {
	height: 100%;
	width: 100%;
}

.az_h .azure-header_temp .small-search {
	cursor: initial;
	overflow: hidden;
	padding-left: 0px;
	padding-right: 0px;
	width: 1px;
}