<footer id="footer" ms.pgarea="footer" class="footer-layout">
  <div class="container" role="contentinfo">

    <select id="locale-picker" aria-label="<%= change.page.locale %>" ></select>
    
    <ul class="links" ms.cmpgrp="footerlinks">
      <li><a id="footer-about-link" href="https://docs.microsoft.com/teamblog" ms.cmpnm="bloglink"><%= footer.blog %></a></li>
      <li><a id="footer-privacy-link" href="//privacy.microsoft.com/en-US/" ms.cmpnm="privacy"><%= privacy.statement %></a></li>
      <li><a id="footer-term-of-use" href="/legal/termsofuse" ms.cmpnm="termsofuse"><%= terms.of.use %></a></li>
      <li><a href="//aka.ms/sitefeedback" ms.cmpnm="feedback"><%= feedback %></a></li>
      <li id="impressum-section"><a id="impressum-link" href="#" ms.cmpnm="impressum"><%= impressum.text %></a></li>
      <li><a href="https://www.microsoft.com/en-us/legal/intellectualproperty/Trademarks/EN-US.aspx" ms.cmpnm="trademarks"><%= trademarks %></a></li>
    </ul>
  </div>
</footer>