          {% if contentLocale == 'zh-cn' and brand == 'azure' %}
          <!-- azure disclaimer -->
          <div id="mooncakeDisclaimer" class="disclaimer"><span class="icon icon-disclaimer"></span><span class="disclaimertext">
您现在访问的是微软AZURE全球版标准服务网站，若需要访问由世纪互联运营的WINDOWS AZURE中国区服务网站，请访问 <a href="http://www.windowsazure.cn">http://www.windowsazure.cn</a>.
          </span></div>
          {% endif %}